@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100%;
    max-width: 1081px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-right: 358px;
}

.container {
    display: flex;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1081px;
}

.left {
    width: 716px;
}

.right {
    margin-left: 25px;
}

.input-group {
    display: flex;
}

.input-group__label {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #000000;
    margin-right: 25px;
}

.input-group__input {
    display: flex;
    width: 375px;
}

.input {
    padding: 8px 12px;
    background: #FFFFFF;
    border: 2px solid #7FB6EA;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 18px;
    width: 100%;
}

.btn {
    background: #7FB6EA;
    border: 1px solid #7FB6EA;
    box-sizing: border-box;
    border-radius: 3px;
    width: 42px;
    min-width: 42px;
    height: 42px;
    color: white;
    font-size: 30px;
    line-height: 100%;
    margin-left: 15px;
    cursor: pointer;
}

.number-item {
    background: #7FB6EA;
    width: 50px;
    height: 50px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.order-field {
    width: 100%;
    min-height: 400px;
    border: 1px solid rgba(146, 151, 163, 0.7);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    position: relative;
}

.order-field__inner {
    display: flex;
    flex-wrap: wrap;
}

.btn-main {
    background: #C4E2FE;
    border: 1px solid #7FB6EA;
    box-sizing: border-box;
    border-radius: 3px;
    width: auto;
    font-size: 19px;
    line-height: 22px;
    color: #304A8B;
    margin-left: 0;
    padding: 0 21px;
}

.window__btn {
    margin-bottom: 25px;
    margin-top: 10px;
}

.vm2__hr {
    display: none !important;
}

.window__title {
    font-size: 19px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}

#vm2_box_random-fill-window {
    min-width: 530px;
    padding-top: 41px;
}

.window__content {
    max-width: 304px;
    margin: auto;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #7FB6EA;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #EA7F92;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #7FB6EA;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #7FB6EA;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #EA7F92;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #7FB6EA;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #7FB6EA;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #EA7F92;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #7FB6EA;
}
input[type=range]:focus::-ms-fill-upper {
    background: #7FB6EA;
}

.window__content-group {
    position: relative;
    margin-bottom: 15px;
}

.vue-slider {
    margin-top: 35px;
}

.order-field__btn {
    width: 42px;
    height: 42px;
    background: #7FB6EA;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 18px;
    bottom: 18px;
}

.order-field__btn--2 {
    right: 71px;
}

.order-field__btn--3 {
    right: 124px;
}

.list-complete-item {
    transition: all .5s;
    margin-right: 10px;
    transform: translateY(10px);
}

.list-complete-enter, .list-complete-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

.list-complete-leave-active {
    color: red;
}

.order-field .list-complete-move {
    transform: translateY(0px);
}

.order-field .list-complete-move ~ .list-complete-move {
    background-color: #7FB6EA;
}

.list-complete-item-active {
    transform: translateY(0px);
}

.list-complete-item-compare {
    transform: translateY(0px);
}

.history-log {
    width: 358px;
    height: 100vh;
    background: #535353;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.history-log__title {
    font-size: 25px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 50px;
}

.history-log__item {
    color: white;
}

.vue-simple-context-menu {
    position: fixed;
}

.history-log__list {
    overflow-y: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}